<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Vilogia</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">

<!--===============================================================================================-->
</head>
<body>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form id="main-form" class="contact100-form validate-form" method="post" action="/submit" autocomplete="off">
				<span class="contact100-form-title">
					Quel incident voulez-vous catégoriser?
				</span>

				<div class="wrap-input100">
					<label class="label-input100" for="email">
						<img src="{{url_for('static', filename='images/icons/computer.jpg')}}" alt="probabilities">
					</label>
					<input id="result" class="input100" type="text" name="result" placeholder="La catégorie et le score s'afficheront ici" readonly>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100">
					<textarea class="input100" name="message" placeholder="Entrez du texte..." id="message" required></textarea>
					<span class="focus-input100"></span>
				</div>
				<div class="container-contact100-form-btn">
					<button class="valid-btn btn btn-success btn-block pb-md-3 pt-md-3">
						 Valider  ✅
					</button>
					<button class="record-btn btn btn-info btn-block pb-md-3 pt-md-3" type="button">
						Commencer l'enregistrement 🎙️
					</button>		
				</div>
			</form>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='js/map-custom.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/p5.min.js"></script>
<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/addons/p5.dom.js"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='js/p5/lib/p5.speech.js')}}"></script>

	<script>
		window.dataLayer = window.dataLayer || [];
	  	function gtag(){dataLayer.push(arguments);}
	  	gtag('js', new Date());
	  	gtag('config', 'UA-23581568-13');

	  	//Speech recognition
	  	var text_recorded="";
	  	
		function speechRecognition()
	  	{
	  		var lang=navigator.language || 'fr-FR';
			var speechRec=new p5.SpeechRec(lang);
		  	speechRec.onResult=gotSpeech;
		  	speechRec.onStart=displayRecordInProgress;
		  	speechRec.onEnd=RemoveRecordInProgress;
	  		//speechRec.continuous=false;
		  	// speechRec.interimResults=true;
			speechRec.start();

			function displayRecordInProgress()
			{
				$('#result').val("🔴 En cours d'enregistrement");
			}

		 	function gotSpeech()
		 	{	
		 		if(speechRec.resultValue)
		 		{	
		 			text_recorded=speechRec.resultString+". "; 	
		 			$('#message').val($('#message').val()+" "+text_recorded);			
	 			}
		 	}

		 	function RemoveRecordInProgress()
		 	{
		 		$('#result').val("");		
		 	}
	  	}
			
		$('.record-btn').click(function() {
		            speechRecognition();
		        });


 		//Ajax request to get label and probability
		$(function() {
	        $('.valid-btn').click(function() {              	
            	$('#main-form').submit();  		                  
	        });

	        $('#main-form').submit(function(e) {
	            e.preventDefault();		
	            $('#result').val("Patientez 🌀");	            	          	
	            $.ajax({
	                type: $(this).attr('method'),
	                url: "/submit",
	                data: $(this).serialize(),
	                success: function(response) {
	                	if(response.label)
	                	{               		
	                		$('#result').val(response.label+"     "+response.probability);	
	                	}
	                	else
	                	{
	                		$('#result').val(response.warning);
	                	}      	                			        			                 
	                },
	                error: function(error) {
	                    console.log(error);
	                }	                    
            	});
	        });	        	
        });
	  		 
	</script>
</body>
</html>
